.postItem {
  margin: 5px 0;
  padding: 10px;
  text-decoration: none;
  transition: transform 0.2s;
  
  .postTitle {
    font-size: 1.5rem;
    margin: 0;
  }

  .postHead {
    display: flex;
    font-size: 0.875rem;
    color: var(--secondary);
    line-height: 20px;
    
    .calendar {
      margin-right: 5px;
      width: 16px;
      height: 16px;
      background: var(--secondary); 
      mask: url('/assets/calendar.svg') no-repeat center;
      mask-size: contain;
      -webkit-mask: url('/assets/calendar.svg') no-repeat center;
      -webkit-mask-size: contain;
    }

    .author {
      margin-left: 15px;
    }
  }

  .postSummary {
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text);
  }
  
  .postTitleLink {
    color: var(--text)
  }
  
  .readMoreLink{
    display: inline-block;
    text-decoration: none;
    padding: 5px 0;
  }
}
