.postList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.largePost {
  grid-column: span 2;
}

.gridPost {
  @media (max-width: 768px) {
    grid-column: span 2;
  }
}
