:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #0070f3;
  --secondary: #c9748f;

  --font-size-base: 1rem;
}

:root.dark,
html.dark {
  --background: #222222;
  --text: #ffffff;
  --primary: #c29925;
  --secondary: #e3e3e3;
}

:root.light,
html.light {
  --background: #ffffff;
  --text: #000000;
  --primary: #0070f3;
  --secondary: #c9748f;
}


body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-base);
  line-height: 1.6;

  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Smooth transition for theme changes */
  transition: background-color 0.2s ease, color 0.2s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: var(--primary);
  &:hover {
    color: var(--text);
  }
}

code {
  margin: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
